<div class="login-container">
  <div class="logo">rateIt</div>
  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input placeholder="Enter User Name" type="text" name="uname" class="form-control" [(ngModel)]="username" />
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input placeholder="Enter Password" type="password" name="pword" class="form-control" [(ngModel)]="password" />
    </div>
    <div class="btn-container">
      <div class="error">{{ errorMsg }}</div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
    <div>
      <p>You can access the site with demo user: </p>
      <ul>
        <li>Username: admin</li>
        <li>Password: sudo</li>
      </ul>
    </div>
  </div>
</div>
